<% @products.in_groups_of(4, false).each do |products| %>
  <div class="row">

    <% products.each do |product| %>
      <div class="col-md-3">
        <div class="product-cont thumbnail">
          <h3><%= link_to product.name, product %></h3>
          <%= link_to image_tag(product.picture, width: '200'), product %>
          <p><%= number_to_currency product.price, precision: 0 %></p>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= link_to :new_product_path %>
<% end %>