<!DOCTYPE html>
<html>
<head>
  <title>Tienda Rails Girls Cali 2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if notice.present? %>
    <div id="notice" class="alert alert-success alert-dismissible">
      <%= notice %>
    </div>
  <% end %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
